@media (max-width: 1800px){
body{
background-color: #393E46;
}
header{
color:00ADB5;
font-family:cursive;
font-size:50px;
text-align:center;
}
a{
display:block;
justify-content:center;
text-decoration:none;
}
.link{
color:00ADB5;
font-famly:cursive;
padding-top:5px;
padding-bottom:5px;
font-size:30px;
text-align:center;
width:100%;
position:relative;
display: inline-block;
}
.aboutme{
background-color: 00ADB5;
border-radius:2%;
}
.about{
color: #393E46;
}
.me{
width:100%;
border-radius:5%;
}
.links{
color:00ADB5;
font-family: cursive;
}
.foot{
font-size:15px;
font-family:cursive;
text-align:center;
color:#00ADB5;
}
.images{
display:flex;
flex-direction:row;
}
.img{
flex-direction:row;
width:49%;
height:350px;
}
.gallery{
width:100%;
border-radius: 5%;
}
.galname{
color: #00ADB5;
font-size:25px;
font-family:cursive;
text-align:center;
}
.email{
color:00ADB5;
font-family: cursive;
text-align:center;
}
.sociallink{
color:00ADB5;
font-family: Cursive;
text-align:center;
}
.internal{
text-align:center;
color:00ADB5;
font-family: cursive;
}
.inter{
display:inline;
color:00ADB5;
font-size:18px;
}
.galleryname{
color:00ADB5;
font-size:18px;
text-align:center;
font-family: cursive;
font-size:35px;
}
